    <p>Kitten <%=@kitten.name%></p>
    <p>Cuteness: <%=@kitten.softness%></p>
    <p>Softness: <%=@kitten.cuteness%></p>
    <p>Age: <%=@kitten.age%></p>

    <%=link_to 'Edit Kitten', edit_kitten_path(@kitten.id)%><br/>
     <%=link_to 'Delete Kitten', kitten_path(@kitten.id), method: 'delete'%><br/>
      <%=link_to 'Back to Home', kittens_path%>